data/*
.env
__pycache__/
dbt/target/
datasets_kaggle/

# Python cache
*.pyc
*.pyo
*.pyd

# Airflow
airflow/logs/
airflow/logs/*
airflow/plugins/__pycache__/

# Desarrollo local
postgres/data/
minio/data/
**/data/

# VSCode
.vscode/

# Private keys
*.pem
*.key
*.crt
*.creds
*.json

# Terraform
infra/terraform/.terraform/
infra/terraform/.terraform/*
infra/terraform/.terraform.lock.hcl
infra/terraform/terraform.tfvars
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup