name: Docker CI/CD

on:
  push:
    branches:
      - main
    paths:
      - 'airflow/**'
      - 'dags/**'
      - 'scripts/**'
      - 'infra/**'
      - 'Dockerfile'
      - 'requirements.txt'
      - 'config.py'
      - 'docker-compose.yml'
      - '.github/workflows/docker.yml'
  workflow_dispatch:

env:
  IMAGE_NAME: sp500-etl
  BUILD_CONTEXT: .
  DOCKERFILE_PATH: ./Dockerfile

jobs:
  build-and-push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          # Evitar conflicto con contextos de Docker
          unset DOCKER_CONTEXT || true

          docker build \
            -f ${{ env.DOCKERFILE_PATH }} \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest \
            ${{ env.BUILD_CONTEXT }}

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest

  deploy-to-ec2:
    name: Deploy to EC2
    needs: build-and-push
    runs-on: ubuntu-latest

    env:
      AWS_DB_USER: ${{ vars.AWS_DB_USER }}
      AWS_DB_PASSWORD: ${{ vars.AWS_DB_PASSWORD }}
      AWS_DB_HOST: ${{ vars.AWS_DB_HOST }}
      AWS_DB_PORT: ${{ vars.AWS_DB_PORT }}
      AWS_DB_NAME: ${{ vars.AWS_DB_NAME }}
      AWS_ACCESS_KEY_ID: ${{ vars.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ vars.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: ${{ vars.AWS_DEFAULT_REGION }}
      S3_BUCKET: ${{ vars.S3_BUCKET }}
      # API_BASE_URL: ${{ vars.API_BASE_URL }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H "${{ secrets.EC2_HOST }}" >> ~/.ssh/known_hosts 2>/dev/null || true

      - name: Deploy latest image on EC2
        run: |
          ssh ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << EOF
            set -e
            # Carpeta base de la app en la EC2
            sudo mkdir -p /opt/sp500
            cd /opt/sp500

            # Asegurar que Docker esté arriba
            if ! sudo systemctl is-active --quiet docker; then
              sudo systemctl start docker || true
            fi

            # Pull de la última imagen
            sudo docker pull ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest

            # Detener y borrar contenedor anterior si existe
            if sudo docker ps -a --format '{{.Names}}' | grep -q '^sp500-etl$'; then
              sudo docker stop sp500-etl || true
              sudo docker rm sp500-etl || true
            fi


            sudo docker run -d \
              --name sp500-etl \
              -p 8080:8080 \
              -e AWS_DB_USER=${AWS_DB_USER} \
              -e AWS_DB_PASSWORD=${AWS_DB_PASSWORD} \
              -e AWS_DB_HOST=${AWS_DB_HOST} \
              -e AWS_DB_PORT=${AWS_DB_PORT} \
              -e AWS_DB_NAME=${AWS_DB_NAME} \
              -e AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID} \
              -e AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY} \
              -e AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION} \
              -e S3_BUCKET=${S3_BUCKET} \
              -e ENVIRONMENT=prod \
              ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest
          EOF